body{
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-rows: 1fr 2fr 1fr;
}

#board{
    width: 100vw;
}

#player1, #player2{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#hand1, #hand2, #interact1, #interact2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reversed{
    transform: rotate(180deg);
}

.reachable{
    background-color: #EAF4FF;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
}

td{
    padding: 4px;
    border: 1px solid #667380;
    line-height: 0;
}

img{
    width: 30px;
}